<!DOCTYPE html>
<html>
    
<header>
    <div class="containerssss">
      <nav>
        <ul>
          <li *ngIf="showDashboard"><a routerLink="/">Página Inicial</a></li>
          <li *ngIf="!showDashboard"><a routerLink="/register">Registrar</a></li>
          <li *ngIf="!showDashboard"><a routerLink="/login">Login</a></li>
          <li *ngIf="showDashboard"><a routerLink="/dashboard">Dashboard</a></li>
          <li *ngIf="showDashboard" ><a (click)="removeLocalStorage()" routerLink="/">Sair</a></li>
        </ul>
      </nav>
    </div>
  </header>

<section>
<router-outlet></router-outlet>
</section>

</html>